// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

 /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 70%;
}

.table-default {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

.table-default td, .table-default th {
   border: 1px solid #ddd;
   padding: 8px;
}

.table-default tr:nth-child(even){background-color: #f2f2f2;}

.table-default tr:hover {background-color: #ddd;}

.table-default th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #4CAF50;
   color: white;
}